{% load static %}
<!DOCTYPE html>
  <head>
    <title>Django Project Example</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <h1>Django Project Example</h1>
      <ul>
          <li><a href="ios_sensor_pack/">Apple IOS Pythonista Application Sensor Pack</a></li>
          <li><a href="obd_sensor_pack/">On-Board Diagnostics (OBD) Sensor Pack</a></li>
          <li><a href="file_system_searcher/">File System Searcher</a></li>
          <li><a href="lightroom_loader/">Lightroom Loader</a></li>
      </ul>
      <h2>Administrivia</h1>
      <ul>
          <li><a href="admin/">Admin</a></li>
          <li><a href="accounts/login/">Login</a></li>
          <li><a href="accounts/logout/">Logout</a></li>
          <li><a href="accounts/password_change/">Change Password</a></li>
          <li><a href="accounts/password_reset/">Reset Password</a></li>
      </ul>
  </body>
</html>
